:root {
  --primary: #FCBF60;
  --secondary: #57636B;
  --bkg-primary: #ffffff;
  --bkg-secondary: #eff2f3;
  --bkg-secondary-shadow: #e3e3e3;
}

body {
  font-family: 'Quicksand', sans-serif; /* This only needs to be here until I fix the navbar to use mui */
}
