:root {
  --primary: #FCBF60;
  --secondary: #57636B;
  --bkg-primary: #ffffff;
  --bkg-secondary: #eff2f3;
  --bkg-secondary-shadow: #e3e3e3;
}

body {
  font-family: 'Quicksand', sans-serif; /* This only needs to be here until I fix the navbar to use mui */
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
